<app-header-four></app-header-four>
<app-breadcrumb></app-breadcrumb>
<div class="card mb-3 mt-5 mb-5">
  <img
    src="assets/img/app/news6.jpg"
    class="card-img-top col-sm-3 mt-2"
    alt="..."
  />
  <div class="card-body">
    <h3 class="card-title col-sm-7">
      Two Twin Students from Katingan Win International Competition
    </h3>
    <p class="card-text col-sm-7">
      The hot sun did not make the twin brothers Raynando Kurniawan and Kristian
      Reynaldy to break charcoal in pursuit of their dreams. The sons of
      Katingan Regency, Raynando Kurniawan and Kristian Reynaldy, who went to
      Surabaya, East Java, have successfully made Penyang Hinje Simpei proud.
    </p>
    <br />
    <p class="card-text col-sm-7">
      These two students of grade XI Science 1 SMA Negeri 1 Kasongan won silver
      medals or second place. They won a special award from Malaysia as the best
      research in the 2022 National Applied Science Project Olympiad (NASPO)
      research competition.
    </p>
    <br />
    <p class="card-text col-sm-7">
      "This activity was held on December 14 to 17, 2022, in Surabaya and
      organized by the Indonesian Young Scientist Association (IYSA) in
      collaboration with the Actuarial Department of the Sepuluh Nopember
      Institute of Technology, Surabaya," said Reynaldi, Monday (19/12/2022).
    </p>
    <br />
    <p class="card-text col-sm-7">
      Raynando Kurniawan and Kristian Reynaldy's research entitled "Legend
      Innovation" raised the story of Dayak land as a regional preservation.
      This research aims to prevent folklore or legends in Dayak land from
      becoming extinct with this research so that the younger generation in
      Indonesia knows the folklore or legend that exists in Indonesia.
    </p>
    <br />
    <p class="card-text col-sm-7">
      "This research can encourage literacy interest among the wider community,"
      said Kristian. The man with glasses said that nervousness had haunted him
      and his twin brother when competing in ISYA. "The feeling of fast
      heartbeat is inevitable, but it can be overcome with confidence and not
      inferior or embarrassed by other countries," he said.
    </p>
    <br />
    <p class="card-text col-sm-7">
      NASPO and I2ASPO are annual events held by ISYA at the end of each year.
      Moreover, this activity was attended by 17 countries in Asia and Europe.
    </p>
    <p class="card-text col-sm-7 mt-5">
      <a
        target="_blank"
        href=" https://kaltengtoday.com/dua-siswa-kembar-asal-katingan-menangkan-kompetisi-internasional/"
        class="text-muted col-sm-12"
      >
        Source: Click Here
      </a>
    </p>
  </div>
</div>
<app-footer-four></app-footer-four>
