<app-header-two></app-header-two>
<app-breadcrumb></app-breadcrumb>
<div class="card mb-3 mt-5 mb-5">
  <img
    src="assets/img/app/news2.jpg"
    class="card-img-top col-sm-3 mt-2"
    alt="..."
  />
  <div class="card-body">
    <h3 class="card-title col-sm-7">
      SMA Muhammadiyah 1 Bantul raih juara NASPO dan I²ASPO ITS
    </h3>
    <p class="card-text col-sm-7">
      SURABAYA, Suara Muhammadiyah - Bertempat di Institut Teknologi Sepuluh Nopember
      Institut Teknologi Sepuluh Nopember (ITS) Surabaya pada 19-22 Desember 2023, SMA
      Muhammadiyah 1 Bantul Yogyakarta mengikuti kompetisi penelitian tingkat nasional dan
      internasional di ITS Surabaya dalam ajang Indonesia
      International Applied Science Project Olympiad (I²ASPO) dan National
      National Applied Science Project Olympiad (NASPO).
    </p>
    <br>
    <p class="card-text col-sm-7">
      Dua acara yang diselenggarakan oleh IYSA (Indonesian Young Scientist
      Indonesia) bekerja sama dengan Departemen Aktuaria FSAD ITS
      Surabaya ini diikuti oleh 38 tim kompetisi offline NASPO 2023 dari seluruh
      seluruh Indonesia, 232 tim kompetisi offline I2ASPO dari 17 delegasi
      dari berbagai negara seperti: Indonesia, Turki, Taiwan, Vietnam, Korea Selatan
      Aftika, Thailand, Kazakhstan, Malaysia dan beberapa negara di Asia.
    </p>
    <br>
    <p class="card-text col-sm-7">
      Sri Widyastuti, S.Pd, guru sekaligus pembimbing siswa SMA MUH 1 Bantul
      mengatakan bahwa dalam ajang ini mereka mengirimkan 2 tim, Tim 1 (Internasional) beranggotakan 4
      siswa: Vonny Rizanti Syairtha (Ketua), Aisyah Naila Basuki, Anindya
      Putri Salsabila, Shafa Salsabila dan tim 2 yang beranggotakan 5 mahasiswa yaitu; Tim 2
      (Nasional) Madinah Raudiah, (Leader), Alfara Azeta Hyadi, Alya Adz Dzikra
      Surya K. N, Alifah Nur Fatimah, dan Djenar Kinanti Cikal Rinakit.
    </p>
    <br>
    <p class="card-text col-sm-7">
      Pada ajang I2ASPO tingkat internasional tersebut, tim SMA Negeri 2 Cilacap
      yang terdiri dari Nasywa Roesviana Putri, Mouzya Syalwa Khoirunnisa, Vinon
      Apip Pranata, Zahrana Nur Azizah, dan Zahro Wahyu Rohmani berhasil meraih Gold
      Medali Emas dengan penelitian mereka yang berjudul "Wacana Pembatasan Perkawinan
      bagi ODHA di Kabupaten Cilacap."
    </p>
    <br>
    <p class="card-text col-sm-7">
      Dalam 2 kompetisi tersebut, SMA MUH 1 Bantul, Tim 1 (Internasional)
      berpartisipasi dalam kategori pengolahan limbah dengan judul Use of Static
      Listrik Statis untuk Mengurangi Emisi Gas pada Mesin Pembakar Sampah Plastik dan
      Tim 2 (Nasional) kategori energi dengan judul penelitian Candlenut Fruit
      Ekstrak Buah Kemiri dan Teh sebagai Serum Anti Ketombe untuk Wanita Muslimah Pengguna Hijab.
    </p>
    <br>
    <p class="card-text col-sm-7">
      Dari dua kompetisi tersebut, SMA MUH 1 Bantul Yogyakarta berhasil meraih
      Tim 1 dengan ketua Vonny Rizanti Syairtha berhasil meraih medali emas dan Tim 2 dengan ketua Madinah Raudiah meraih medali perak.
      dan Tim 2 dengan ketua Madinah Raudiah meraih medali perak dan special
      penghargaan khusus, ujar Sri Widyastuti, S.Pd., M.Pd.
    </p>
    <br>
    <p class="card-text col-sm-7">
      Vonny Rizanti Syairtha dan Madinah Raudiah, siswa SMA MUH 1 Bantul
      menyampaikan terima kasih atas dukungan dan doa dari para orang tua,
      guru pembimbing, pimpinan SMA MUH 1 Bantul, Dikdasmen PDM Bantul,
      Dikdasmen PWM DIY dan semua pihak yang telah membantu.
    </p>
    <br>
    <p class="card-text col-sm-7">
      Melalui kompetisi I²ASPO ESP Team, kami bisa mendapatkan Medali Emas, kami
      sangat senang setelah berproses bersama untuk penciptaan elektrostatik
      listrik, sekarang perang telah usai dan kami berhasil, kami juga kembali termotivasi
      untuk melanjutkan penelitian lebih lanjut dan memberikan manfaat di masa depan dan
      jujur tidak menyangka percobaan pertama kami mendapatkan penghargaan khusus dan medali perak
      medali perak, kami sangat bersyukur untuk itu. Terima kasih untuk semua doa dan
      dukungan yang diberikan kepada kami, Tim ESP dan Tim Milka.
    </p>
    <p class="card-text col-sm-7 mt-5">
      <a
        target="_blank"
        href="https://www.suaramuhammadiyah.id/read/sma-muhammadiyah-1-bantul-raih-juara-naspo-dan-i2aspo-its"
        class="text-muted col-sm-12"
      >
      Sumber: Klik di sini
      </a>
    </p>
  </div>
</div>
<app-footer-two></app-footer-two>
