<app-header-four></app-header-four>
<app-breadcrumb></app-breadcrumb>
<h1 class="text-center">News</h1>
<div class="row mb-5">
  <div class="col-sm-4 mt-5">
    <div class="card">
      <div class="card-body">
        <img src="assets/img/app/news1.png" />
        <h5 class="card-title mt-3">
          MEDALS FOR CILACAP DISTRICT FROM NASPO AND I2ASPO
        </h5>
        <p class="card-text">
          Sri Widyastuti, S.Pd, teacher and supervisor of SMA MUH 1 Bantul
          students said that in this event they sent 2 teams, Team 1
          (International) of 4 students: Vonny Rizanti Syairtha (Leader), Aisyah
          Naila Basuki, Anindya Putri Salsabila, Shafa Salsabila and team 2 of 5
          students namely; Team 2 (National) Madinah Raudiah, (Leader), Alfara
          Azeta Hyadi, Alya Adz Dzikra Surya K. N, Alifah Nur Fatimah, and
          Djenar Kinanti Cikal Rinakit....
        </p>
        <a href="/news1" class="btn btn-primary mt-3"> View </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-5">
    <div class="card">
      <div class="card-body">
        <img src="assets/img/app/news2.jpg" />
        <h5 class="card-title mt-3">
          SMA Muhammadiyah 1 Bantul wins NASPO and I²ASPO ITS championships
        </h5>
        <p class="card-text">
          The NASPO and I2ASPO competitions were held hybridly at the Sepuluh
          Nopember Institute of Technology (ITS) on December 19-21, 2023. In the
          NASPO competition, the SMA Negeri 1 Maos team consisting of Cahaya Eli
          Prasetya Ningrum, Alan Firid Aryadi, Aprilia Aris Kristianto, Bagus
          Sukma Rakhmanto, and Nur Fadilah won the Gold Medal with their work
          "Javanese Alphabet Quartet Card Game as Learning Media to Improve
          Javanese Letter Reading Ability"....
        </p>
        <a href="/news2" class="btn btn-primary mt-3"> View </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-5">
    <div class="card">
      <div class="card-body">
        <img src="assets/img/app/news3.jpg" />
        <h5 class="card-title mt-3">
          SMAN 1 Maos and SMAN 2 Cilacap Make Achievements
        </h5>
        <p class="card-text">
          The team from SMA Negeri 2 Cilacap explored the discourse on
          restricting marriage for PLHIV in Cilacap Regency. Through a long
          discussion, it was finally decided that the discourse would not be
          realized. This decision was based on the understanding that PLWHA are
          human beings, and HIV transmission to their spouses and children can
          be prevented through appropriate medical intervention...
        </p>
        <a href="/news3" class="btn btn-primary mt-3"> View </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-5">
    <div class="card">
      <div class="card-body">
        <img src="assets/img/app/news4.jpg" />
        <h5 class="card-title mt-3">
          AAL Cadets Win Gold and Bronze Medals in I2ASPO and NASPO Events
        </h5>
        <p class="card-text">
          At the end of 2021, Naval Academy (AAL) cadets made history by winning
          Gold and Bronze Medals at the Indonesia International Applied Science
          Project Olympiad (I2ASPO) and National Applied Science Project
          Olympiad (NASPO) Scientific Writing Competition (LKTI) held by the
          Indonesia Young Scientist Association (IYSA) in collaboration with the
          Actuarial Department of the Sepuluh Nopember Institute of Technology
          (ITS) Surabaya...
        </p>
        <a href="/news4" class="btn btn-primary mt-3"> View </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-5">
    <div class="card">
      <div class="card-body">
        <img class="cil" src="assets/img/app/news5.jpg" />
        <h5 class="card-title mt-3">
          MTs Negeri 2 Probolinggo Awarded Five Medals at National and
          International Events
        </h5>
        <p class="card-text">
          MTs Negeri 2 Probolinggo was rewarded with 5 medals in international
          and national events in 2021. Namely at the International Invention
          Competetion for Young Moslem Scientist (IICYMS) 2021, National Applied
          Science Olymphiad (NASPO), and Indonesia International Applied Science
          Olymphiad (I2ASPO) While team 2 consists of Amira Najihah Fadri Putri,
          Shafrina Olivia Cikitawati, Katon Ahmad Maulana, and Dhonand Dhimas
          Aryono. They are both in 8th grade. Team 2 of the research title is
          "Candent: Dental Anti-Caries Jelly Candies", won a bronze medal in the
          Life Science category...
        </p>
        <a href="/news5" class="btn btn-primary mt-3"> View </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-5">
    <div class="card">
      <div class="card-body">
        <img src="assets/img/app/news6.jpg" />
        <h5 class="card-title mt-3">
          Two Twin Students from Katingan Win International Competition
        </h5>
        <p class="card-text">
          The hot sun did not make the twin brothers Raynando Kurniawan and
          Kristian Reynaldy to break charcoal in pursuit of their dreams. The
          sons of Katingan Regency, Raynando Kurniawan and Kristian Reynaldy,
          who went to Surabaya, East Java, have successfully made Penyang Hinje
          Simpei proud. These two students of grade XI Science 1 SMA Negeri 1
          Kasongan won silver medals or second place. They won a special award
          from Malaysia as the best research in the 2022 National Applied
          Science Project Olympiad (NASPO) research competition. ...
        </p>
        <a href="/news6" class="btn btn-primary mt-3"> View </a>
      </div>
    </div>
  </div>
</div>
<app-footer-four></app-footer-four>
