<app-header-two></app-header-two>
<app-breadcrumb></app-breadcrumb>
<div class="card mb-3 mt-5 mb-5">
  <img
    src="assets/img/app/news4.jpg"
    class="card-img-top col-sm-3 mt-2"
    alt="..."
  />
  <div class="card-body">
    <h3 class="card-title col-sm-7">
      Taruna AAL Raih Medali Emas dan Perunggu di Ajang I2ASPO dan NASPO
    </h3>
    <p class="card-text col-sm-7">
      Di penghujung tahun 2021, Taruna Akademi Angkatan Laut (AAL) mengukir sejarah dengan meraih
      Medali Emas dan Perunggu pada ajang Indonesia International Applied Science
      Project Olympiad (I2ASPO) dan National Applied Science Project Olympiad
      (NASPO) dan Lomba Karya Tulis Ilmiah (LKTI) yang diselenggarakan oleh Indonesia Young
      Indonesia Young Scientist Association (IYSA) bekerja sama dengan Departemen Aktuaria
      Departemen Aktuaria Institut Teknologi Sepuluh Nopember (ITS) Surabaya.
    </p>
    <br />
    <p class="card-text col-sm-7">
      Hal tersebut dikatakan Kepala Departemen Ilmu Pengetahuan dan Teknologi
      (Kadepiptek) AAL, Kolonel Laut (KH) Said Masykur, mewakili Gubernur AAL
      Gubernur AAL, Mayjen TNI (Mar) Nur Alamsyah di Gd,
      Depiptek, Gedung Bumimoro Satrian AAL, Surabaya, Rabu (15/12/2021).
    </p>
    <br />
    <p class="card-text col-sm-7">
      Menurut Kadepiptek, kegiatan lomba LKTI ini dilaksanakan
      secara offline dan online sejak pertengahan November 2021 hingga sesi penjurian yang
      dilaksanakan pada tanggal 12 Desember 2021. AAL lanjut Kadepiptek, mengirimkan dua tim dalam
      ajang ini. Tim I2ASPO AAL terdiri dari Sermadatar (P) Alfan Prasurya
      Adhipatiyan, Sermadatar (T) Regel Satria Mardika, Sermadatar (E) Gilang
      Pratama Bahari, Sermadatar (S) Daffa Agusta, dan Sermadatar (M) Ryan
      Ardimas.
    </p>
    <br />
    <p class="card-text col-sm-7">
      Sementara itu, Tim NASPO diisi oleh Sermadatar (P) Resa Ridwan
      Pindriansyah, Sermadatar (T) M. Hafish Zaki Pratama, Sermadatar (E) Indana
      Zulfa, Sermadatar (S) Zenita Sanadila, dan Sermadatar (M) I Made Indrayana
      Wibaya. Kedua tim ini didampingi oleh Taruna AAL sebagai Supervisor,
      Letkol Laut (KH/W) Mostien Adi Puji sebagai koordinator dengan empat
      empat orang pengawas, yaitu Letkol Laut (T) Adiyus Kurnia Zain, Mayor Laut (T)
      Mayor Laut (T) Sonnie Rakhmawan, PNS Evi Martiningsih, dan PNS Risa Apriani.
    </p>
    <br />
    <p class="card-text col-sm-7">
      Berhubung pandemi belum berakhir, Tim AAL mengikuti lomba I2ASPO
      dan NASPO secara online dengan mengirimkan naskah LKTI berjudul "IAF
      (Incenerator Air Filter) sebagai Standarisasi Pengendalian Limbah Asap pada
      Kapal Untuk Melestarikan Lingkungan" atau "IAF (Incenerator Air Filter) Sebagai
      Standarisasi Pengendalian Limbah Asap Pada Kapal Untuk Melestarikan
      Lingkungan".
    </p>
    <br />
    <p class="card-text col-sm-7">
      "Alhamdulillah, I2ASPO mendapatkan tiga penghargaan sekaligus, yaitu Gold
      Medal untuk Kategori Weste Treatment Tingkat Universitas, kemudian Free
      pendaftaran ke BUCA IMSEF Turki 2022 (Online) dan penghargaan IYSA Reward
      berupa dana pembinaan sebagai tim terbaik," pungkas Said. (HJR)
    </p>
    <p class="card-text col-sm-7 mt-5">
      <a
        target="_blank"
        href="https://kominfo.jatimprov.go.id/read/umum/-taruna-aal-raih-medali-emas-dan-perunggu-ajang-i2aspo-dan-naspo"
        class="text-muted col-sm-12"
      >
      Sumber: Klik di sini
      </a>
    </p>
  </div>
</div>
<app-footer-two></app-footer-two>
