<app-header-four></app-header-four>
<app-breadcrumb></app-breadcrumb>
<div class="card mb-3 mt-5 mb-5">
  <img
    src="assets/img/app/news1.png"
    class="card-img-top col-sm-3 mt-2"
    alt="..."
  />
  <div class="card-body">
    <h3 class="card-title col-sm-7">
      MEDALS FOR CILACAP DISTRICT FROM NASPO AND I2ASPO
    </h3>
    <p class="card-text col-sm-7">
      CILACAP - Institut Teknologi Sepuluh Nopember (ITS) in collaboration with
      the Indonesian Young Scientist Association (IYSA) organized a national
      level competition, namely the National Applied Science Olympiad (NASPO)
      which was attended by 232 teams of students and students throughout
      Indonesia and an international level competition entitled Indonesia
      International Applied Science Olympiad (I2ASPO) which was attended by 300
      teams of students and students from various countries, including
      Indonesia, Turkey, Thailand, Vietnam, Puerto Rico, Philippines, United
      Arab Emirates, Kazakhstan, Romania, Singapore, Iran, Malaysia, and Hong
      Kong.
    </p>
    <br>
    <p class="card-text col-sm-7">
      The NASPO and I2ASPO competitions were held hybridly at the Sepuluh
      Nopember Institute of Technology (ITS) on December 19-21, 2023. In the
      NASPO competition, the SMA Negeri 1 Maos team consisting of Cahaya Eli
      Prasetya Ningrum, Alan Firid Aryadi, Aprilia Aris Kristianto, Bagus Sukma
      Rakhmanto, and Nur Fadilah won the Gold Medal with their work "Javanese
      Alphabet Quartet Card Game as Learning Media to Improve Javanese Letter
      Reading Ability."
    </p>
    <br>
    <p class="card-text col-sm-7">
      In their research, the SMA Negeri 1 Maos team created a quartet card game
      called Kartu Beja to help students in mastering Javanese script reading
      and writing.
    </p>
    <br>
    <p class="card-text col-sm-7">
      At the international I2ASPO event, the SMA Negeri 2 Cilacap team
      consisting of Nasywa Roesviana Putri, Mouzya Syalwa Khoirunnisa, Vinon
      Apip Pranata, Zahrana Nur Azizah, and Zahro Wahyu Rohmani won the Gold
      Medal with their research entitled "The Discourse on Restricting Marriage
      for PLHIV in Cilacap Regency."
    </p>
    <br>
    <p class="card-text col-sm-7">
      In their research, the team from SMA Negeri 2 Cilacap explored the
      discourse on restricting marriage for PLHIV in Cilacap Regency. Based on a
      long discussion, the discourse was finally not realized because PLHIV are
      also humans and HIV transmission to their spouses and children can be
      prevented through medical interventions.
    </p>
    <br>
    <p class="card-text col-sm-7">
      Meanwhile, the SMA Negeri 1 Maos team consisting of Elyne Kusuma
      Mahardika, Annisa Nurus Shillah, Cika Ridhaputrimardani, Rofi Arif
      Robbani, and Talitha Aulia Zuriah Salsabila won the Silver Medal with the
      research title "Optimizing The AquaCrop Model for Predicting Agricultural
      Yields Using Agroclimatic Caping."
    </p>
    <br>
    <p class="card-text col-sm-7">
      The research of SMA Negeri 1 Maos team is an effort to make the accuracy
      of AquaCrop application with Agroclimatic Caping to predict agricultural
      yields. Head of SMA Negeri 2 Cilacap Dra. Masripah, M.M.Pd was proud of
      her students' achievements in the international arena. "Alhamdulillah,
      cool, a proud achievement, hopefully it can inspire other students," said
      Masripah. 
    </p >
    <br>
    <p class="card-text col-sm-7">
      The same thing was conveyed by the Head of SMA Negeri 1 Maos Amin, S.Pd.,
      M.Pd. he felt happy and proud of the achievements obtained by his students
      in the NASPO and I2ASPO events. He hopes that these achievements can
      motivate his friends to continue working and achieving. "Alhamdulillah,
      this is a gift for the end of 2023 and an extraordinary and proud
      achievement from Cilacap students in national and international science
      and technology competitions. Congratulations and success always for the
      Champions!", said Amin. (wd/kominfo)
    </p>
    <p class="card-text col-sm-7 mt-5">
      <a
        target="_blank"
        href="https://cilacapkab.go.id/v3/medali-untuk-kabupaten-cilacap-dari-naspo-dan-i2aspo/"
        class="text-muted col-sm-12"
      >
        Source: Click Here
      </a>
    </p>
  </div>
</div>
<app-footer-four></app-footer-four>
