<app-header-four></app-header-four>
<app-breadcrumb></app-breadcrumb>
<div class="card mb-3 mt-5 mb-5">
  <img
    src="assets/img/app/news5.jpg"
    class="card-img-top col-sm-3 mt-2"
    alt="..."
  />
  <div class="card-body">
    <h3 class="card-title col-sm-7">
      MTs Negeri 2 Probolinggo Awarded Five Medals at National and International
      Events
    </h3>
    <p class="card-text col-sm-7">
      MTs Negeri 2 Probolinggo was rewarded with 5 medals in international and
      national events in 2021. Namely at the International Invention Competetion
      for Young Moslem Scientist (IICYMS) 2021, National Applied Science
      Olymphiad (NASPO), and Indonesia International Applied Science Olymphiad
      (I2ASPO). At the IICYMS 2021 event which was held at UIN Sunan Gunung
      Djati Bandung, July 2, 2021, MTsN 2 Probolinggo received 3 medals. Namely,
      gold medals, Indonesian Young Scientst Associatin (IYSA) special awards,
      and bronze medals.
    </p>
    <br />
    <p class="card-text col-sm-7">
      In the event organized by IYSA in collaboration with UIN Sunan Gunung
      Djati Bandung, Union of Arab Academics, and IICYMS Organizing Committee,
      MTsN 2 Probolinggo sent 9 students divided into 2 teams. Team 1 consists
      of Riska Anggun Maulani, Laila Nurrahmasari, Diva Tri Wahyuningsih, and
      Muhammad Rayhan Sya'bana who are in grade 9. Also, Dani Khairulllah
      Geovani Pratama who is in grade 8.
    </p>
    <br />
    <p class="card-text col-sm-7">
      Team 1 with the research title "Antidiabetic Activity Test of Boiled Water
      Yellow Bamboo Shoot (Bambusa Vulgaris) And Ashoka Folwer (Ixora Coccinea)
      In White Mice With Glucose Tolerance" received a Gold Medal in the Pure
      Science Biology Category. As well as getting an additional IYSA Special
      Award. While team 2 consists of Amira Najihah Fadri Putri, Shafrina Olivia
      Cikitawati, Katon Ahmad Maulana, and Dhonand Dhimas Aryono. They are both
      in 8th grade. Team 2 of the research title is "Candent: Dental Anti-Caries
      Jelly Candies", won a bronze medal in the Life Science category.
    </p>
    <br />
    <p class="card-text col-sm-7">
      In total, this competition was attended by 155 teams from 13 countries.
      Among them are Indonesia, Yemen, Egypt, Morocco, Turkey, Iraq, Qatar,
      Khazakstan, India, Macedonia, Palestine, Azerbaijan, and Pakistan. The
      stages of the competition are the submission of research journals,
      research videos in English, presentations, questions and answers, and
      judging.
    </p>
    <br />
    <p class="card-text col-sm-7">
      Yenny Rahma, coordinator of the Research Guidance Teacher Team, said that
      the preparations made by the school were very optimal. "Moreover, it has
      the full support of parents. This contributes and plays a big role in
      terms of encouraging enthusiasm for the achievements of our students," he
      explained.
    </p>
    <br />
    <p class="card-text col-sm-7">
      The hijab-wearing woman added that without the strong enthusiasm of the
      children and the encouragement of parents and teachers, it would have been
      impossible for this achievement to be achieved. They are well guided by
      research guidance teachers. Namely, Sri Sunarti, Sutriningsih, Okky Buyung
      Firmanyah, Rhici Sulistyowati, Purwani, and Rizka
    </p>
    <br />
    <p class="card-text col-sm-7">
      MTs Negeri 2 Probolinggo, which is located at Jalan Raya Karanggeger 418
      Pajarakan, Probolinggo Regency, has a superior program in the field of
      research. In accordance with the Decree of the Director General of Islamic
      Education Number 6,757 of 2020 concerning the Determination of Research
      Organizing Madrasas..
    </p>
    <br />
    <p class="card-text col-sm-7">
      It is known that there are 296 MTsN institutions throughout Indonesia that
      have legitimacy as madrasah organizing research. One of them is MTsN 2
      Probolinggo, which has developed the program. Both for students and for
      teachers. The coaching, which has been carried out for 5 months, has paid
      off. While at the national level, MTsN 2 Probolinggo was rewarded with two
      medals at once at the NASPO and I2ASPO Scientific events. The event was
      attended by 410 teams from all over Indonesia, along with 13 other
      countries. In this competition, they won silver and bronze with
      participants covering a combination of two levels, namely SMP / MTs and
      SMA / MA.
    </p>
    <br />
    <p class="card-text col-sm-7">
      "Alhamdulillah, we achieved international and national achievements in the
      field of research. This achievement is very proud and proof of the
      progress of the madrasah," said Head of MTsN 2 Probolinggo Mudakkir. The
      event was organized by IYSA and the Actuarial Science Department of the
      Surabaya Technical Institute (ITS) Surabaya which was held online and
      offline, December 11-14, 2021, in Surabaya. MTsN 2 Probolinggo sent 2
      teams in the Entrepreneurship and Functional Food categories.
    </p>
    <br />
    <p class="card-text col-sm-7">
      The Functional Food category won a silver medal with the research title
      "Bellyden: Utilization of Star Fruit Wuluh as Anti-Caries Dental Candy".
      Team 1 is chaired by oNur Mufidah a grade 7 student with members Muhammad
      Naufal, Dhafa Arabilah Irfan, Aulia Cheryl Putri Zahira, and Zahrotus
      Syita Wahyuni Hidayati. Meanwhile, the Entrepreneurship category won a
      bronze medal with the title "Lemoje: Modern Jamoe Lemongrass as an
      Alternative Business and Immune Enhancer in PPKM Masses". Team 2 is
      chaired by Lutfiyatun Nikmah, a grade 9 student, with members Dina Amelia,
      Zakiah Sadiida, Robiatul Adawiah, and Muhammad Hilmi. (*/hla/sp)
    </p>
    <p class="card-text col-sm-7 mt-5">
      <a
        target="_blank"
        href="https://tadatodays.com/detail/mts-negeri-2-probolinggo-diganjar-lima-medali-di-event-nasional-dan-internasional"
        class="text-muted col-sm-12"
      >
        Source: Click Here
      </a>
    </p>
  </div>
</div>
<app-footer-four></app-footer-four>
