<app-header-four></app-header-four>
<app-breadcrumb></app-breadcrumb>
<div class="card mb-3 mt-5 mb-5">
  <img
    src="assets/img/app/news2.jpg"
    class="card-img-top col-sm-3 mt-2"
    alt="..."
  />
  <div class="card-body">
    <h3 class="card-title col-sm-7">
      SMA Muhammadiyah 1 Bantul wins NASPO and I²ASPO ITS championships
    </h3>
    <p class="card-text col-sm-7">
      SURABAYA, Suara Muhammadiyah - Taking place at the Sepuluh Nopember
      Institute of Technology (ITS) Surabaya on December 19-22, 2023, SMA
      Muhammadiyah 1 Bantul Yogyakarta participated in national and
      international research competitions at ITS Surabaya in the Indonesia
      International Applied Science Project Olympiad (I²ASPO) and National
      Applied Science Project Olympiad (NASPO) competitions.
    </p>
    <br>
    <p class="card-text col-sm-7">
      The two concurrent events organized by IYSA (Indonesian Young Scientist
      Association) in collaboration with the Department of Actuarial FSAD ITS
      Surabaya were attended by 38 NASPO 2023 offline competition teams from all
      over Indonesia, 232 I2ASPO offline competition teams from 17 delegations
      from various countries such as: Indonesia, Turkey, Taiwan, Vietnam, South
      Aftika, Thailand, Kazakhstan, Malaysia and several countries in Asia.
    </p>
    <br>
    <p class="card-text col-sm-7">
      Sri Widyastuti, S.Pd, teacher and supervisor of SMA MUH 1 Bantul students
      said that in this event they sent 2 teams, Team 1 (International) of 4
      students: Vonny Rizanti Syairtha (Leader), Aisyah Naila Basuki, Anindya
      Putri Salsabila, Shafa Salsabila and team 2 of 5 students namely; Team 2
      (National) Madinah Raudiah, (Leader), Alfara Azeta Hyadi, Alya Adz Dzikra
      Surya K. N, Alifah Nur Fatimah, and Djenar Kinanti Cikal Rinakit.
    </p>
    <br>
    <p class="card-text col-sm-7">
      At the international I2ASPO event, the SMA Negeri 2 Cilacap team
      consisting of Nasywa Roesviana Putri, Mouzya Syalwa Khoirunnisa, Vinon
      Apip Pranata, Zahrana Nur Azizah, and Zahro Wahyu Rohmani won the Gold
      Medal with their research entitled "The Discourse on Restricting Marriage
      for PLHIV in Cilacap Regency."
    </p>
    <br>
    <p class="card-text col-sm-7">
      In these 2 competitions, SMA MUH 1 Bantul, Team 1 (International)
      participated in the waste treatment category with the title Use of Static
      Electricity to Reduce Gas Emission in Plastic Waste Burning Machines and
      Team 2 (National) energy category with the research title Candlenut Fruit
      Extract and Tea as Anti-dandruff Serum for Muslim Women Hijab Users.
    </p>
    <br>
    <p class="card-text col-sm-7">
      From these two competitions, SMA MUH 1 Bantul Yogyakarta won the
      championship, Team 1 with leader Vonny Rizanti Syairtha won the gold medal
      and Team 2 with leader Madinah Raudiah won the silver medal and special
      award said Sri Widyastuti, S.Pd.
    </p>
    <br>
    <p class="card-text col-sm-7">
      Vonny Rizanti Syairtha and Madinah Raudiah, students of SMA MUH 1 Bantul
      both expressed their gratitude for the support and prayers from parents,
      supervising teachers, SMA MUH 1 Bantul leaders, Dikdasmen PDM Bantul,
      Dikdasmen PWM DIY and all those who have helped.
    </p>
    <br>
    <p class="card-text col-sm-7">
      Through the I²ASPO ESP Team competition, we can get a Gold Medal, we are
      very happy after processing together for the creation of electrostatic
      electricity, now the war is over and we did it, we are also re-motivated
      to continue further research and provide benefits in the future and
      honestly did not expect the first try we got that special award and silver
      medal, we are really grateful for that. Thank you for all the prayers and
      support given to us, ESP Team and Milka Team.
    </p>
    <p class="card-text col-sm-7 mt-5">
      <a
        target="_blank"
        href="https://www.suaramuhammadiyah.id/read/sma-muhammadiyah-1-bantul-raih-juara-naspo-dan-i2aspo-its"
        class="text-muted col-sm-12"
      >
        Source: Click Here
      </a>
    </p>
  </div>
</div>
<app-footer-four></app-footer-four>
