<div class="contact-form-area content-right-spacer">
    <div class="section-title mb-40">
        <div class="section-heading-tag">
            <span class="single-heading-tag">Kirimi Kami Pesan</span>
        </div>
        <h2>Ada pertanyaan ? <br class="d-none d-md-block"> Mari kita mulai bicara</h2>
    </div>
    <div class="contact-respond">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nama Lengkap" formControlName="fullname">
                <label for="fullName">Nama</label>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nomor Telepon" formControlName="phoneno">
                <label for="phoneNumber">Nomor Telepon</label>
            </div>
            <div class="input-group">
                <input type="email" class="form-control" placeholder="Alamat Email" formControlName="email">
                <label for="emailAddress">Email</label>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Subyek" formControlName="subject">
                <label for="subject">Subyek</label>
            </div>
            <div class="input-group form-textarea">
                <textarea class="form-control" placeholder="Pesan" formControlName="message"></textarea>
                <label for="message">Pesan</label>
            </div>
            <div class="input-group">
                <button type="submit" class="filled-btn" [disabled]="!contactForm.valid">Kirim Pesan <i class="fas fa-arrow-right"></i></button>
            </div>
        </form>
    </div> <!-- /.contact-respond -->
</div>