<app-header-two></app-header-two>
<app-breadcrumb></app-breadcrumb>
<div class="card mb-3 mt-5 mb-5">
  <img
    src="assets/img/app/news1.png"
    class="card-img-top col-sm-3 mt-2"
    alt="..."
  />
  <div class="card-body">
    <h3 class="card-title col-sm-7">
      MEDALI UNTUK KABUPATEN CILACAP DARI NASPO DAN I2ASPO
    </h3>
    <p class="card-text col-sm-7">
      CILACAP - Institut Teknologi Sepuluh Nopember (ITS) bekerja sama dengan
      Indonesian Young Scientist Association (IYSA) menyelenggarakan kompetisi
      tingkat nasional, yaitu National Applied Science Olympiad (NASPO)
      yang diikuti oleh 232 tim pelajar dan mahasiswa se-Indonesia.
      Indonesia dan kompetisi tingkat internasional bertajuk Indonesia
      International Applied Science Olympiad (I2ASPO) yang diikuti oleh 300
      tim pelajar dan mahasiswa dari berbagai negara, antara lain
      Indonesia, Turki, Thailand, Vietnam, Puerto Rico, Filipina, Uni
      Uni Emirat Arab, Kazakhstan, Rumania, Singapura, Iran, Malaysia, dan Hong
      Kong. 
    </p>
    <br>
    <p class="card-text col-sm-7">
      Kompetisi NASPO dan I2ASPO diselenggarakan secara hybrid di Institut Teknologi Sepuluh
      Institut Teknologi Sepuluh Nopember (ITS) pada tanggal 19-21 Desember 2023. Dalam kompetisi
      Pada kompetisi NASPO, tim SMA Negeri 1 Maos yang terdiri dari Cahaya Eli
      Prasetya Ningrum, Alan Firid Aryadi, Aprilia Aris Kristianto, Bagus Sukma
      Rakhmanto, dan Nur Fadilah berhasil meraih Medali Emas dengan karya "Javanese
      Permainan Kartu Aksara Jawa sebagai Media Pembelajaran untuk Meningkatkan Kemampuan Membaca Huruf Jawa.
      Kemampuan Membaca Huruf Jawa".
    </p>
    <br>
    <p class="card-text col-sm-7">
      Dalam penelitiannya, tim SMA Negeri 1 Maos menciptakan permainan kartu kuartet
      bernama Kartu Beja untuk membantu siswa dalam menguasai membaca dan menulis aksara Jawa.
      membaca dan menulis aksara Jawa.
    </p>
    <br>
    <p class="card-text col-sm-7">
      Pada ajang I2ASPO tingkat internasional tersebut, tim SMA Negeri 2 Cilacap
      yang terdiri dari Nasywa Roesviana Putri, Mouzya Syalwa Khoirunnisa, Vinon
      Apip Pranata, Zahrana Nur Azizah, dan Zahro Wahyu Rohmani berhasil meraih Gold
      Medali Emas dengan penelitian mereka yang berjudul "Wacana Pembatasan Perkawinan
      bagi ODHA di Kabupaten Cilacap."
    </p>
    <br>
    <p class="card-text col-sm-7">
      Dalam penelitiannya, tim dari SMA Negeri 2 Cilacap mengeksplorasi
      wacana pembatasan pernikahan bagi ODHA di Kabupaten Cilacap. Setelah melalui diskusi panjang, wacana tersebut akhirnya tidak terealisasi karena
      panjang, wacana tersebut akhirnya tidak jadi direalisasikan karena ODHA juga
      juga manusia dan penularan HIV ke pasangan dan anak-anaknya dapat dicegah melalui intervensi medis.
      dapat dicegah melalui intervensi medis.
    </p>
    <br>
    <p class="card-text col-sm-7">
      Sementara itu, tim SMA Negeri 1 Maos yang terdiri dari Elyne Kusuma
      Mahardika, Annisa Nurus Shillah, Cika Ridhaputrimardani, Rofi Arif
      Robbani, dan Talitha Aulia Zuriah Salsabila berhasil meraih Medali Perak dengan
      dengan judul penelitian "Optimalisasi Model AquaCrop untuk Memprediksi Hasil Pertanian
      Hasil Pertanian Menggunakan Caping Agroklimat."
    </p>
    <br>
    <p class="card-text col-sm-7">
      Penelitian tim SMA Negeri 1 Maos ini merupakan upaya untuk membuat akurasi
      aplikasi AquaCrop dengan Caping Agroklimat untuk memprediksi hasil pertanian.
      hasil pertanian. Kepala SMA Negeri 2 Cilacap Dra. Masripah, M.M.Pd merasa bangga dengan
      bangga dengan prestasi anak didiknya di kancah internasional. "Alhamdulillah,
      keren, prestasi yang membanggakan, semoga bisa menginspirasi siswa-siswi yang lain," kata
      Masripah. 
    </p >
    <br>
    <p class="card-text col-sm-7">
      Hal senada disampaikan oleh Kepala SMA Negeri 1 Maos Amin, S.Pd.,
      M.Pd. beliau merasa senang dan bangga atas prestasi yang diperoleh anak didiknya
      dalam ajang NASPO dan I2ASPO. Ia berharap prestasi tersebut dapat
      memotivasi teman-temannya untuk terus berkarya dan berprestasi. "Alhamdulillah,
      ini merupakan kado akhir tahun 2023 dan prestasi yang luar biasa dan membanggakan dari
      prestasi yang luar biasa dan membanggakan dari para pelajar Cilacap di ajang kompetisi sains dan
      dan teknologi tingkat nasional maupun internasional. Selamat dan sukses selalu untuk para
      Para Juara!", kata Amin. (wd/kominfo)
    </p>
    <p class="card-text col-sm-7 mt-5">
      <a
        target="_blank"
        href="https://cilacapkab.go.id/v3/medali-untuk-kabupaten-cilacap-dari-naspo-dan-i2aspo/"
        class="text-muted col-sm-12"
      >
        Sumber: Klik di sini
      </a>
    </p>
  </div>
</div>
<app-footer-two></app-footer-two>
