<app-header-two></app-header-two>
<app-breadcrumb></app-breadcrumb>
<div class="card mb-3 mt-5 mb-5">
  <img
    src="assets/img/app/news3.jpg"
    class="card-img-top col-sm-3 mt-2"
    alt="..."
  />
  <div class="card-body">
    <h3 class="card-title col-sm-7">
      SMAN 1 Maos dan SMAN 2 Cilacap Torehkan Prestasi
    </h3>
    <p class="card-text col-sm-7">
      Institut Teknologi Sepuluh Nopember (ITS) bekerja sama dengan
      Ikatan Ilmuwan Muda Indonesia (IYSA) telah berhasil menyelenggarakan
      dua kompetisi bergengsi. Pertama, National Applied Science Olympiad
      (NASPO), kompetisi tingkat nasional yang diikuti oleh 232 tim pelajar dan mahasiswa
      dan mahasiswa dari seluruh Indonesia. Selain itu, ITS juga menjadi tuan rumah
      tingkat internasional, yaitu Indonesia International Applied Science Olympiad (I2AS).
      International Applied Science Olympiad (I2ASPO), yang diikuti oleh 300 tim mahasiswa
      dari berbagai negara. Peserta berasal dari Indonesia sendiri, serta negara-negara
      serta negara-negara seperti Turki, Thailand, Vietnam, Puerto Rico, Filipina
      Filipina, Uni Emirat Arab, Kazakhstan, Rumania, Singapura,
      Iran, Malaysia dan Hong Kong. Keberhasilan penyelenggaraan kedua
      kompetisi ini merupakan pencapaian yang luar biasa dalam menciptakan platform
      kompetitif bagi para ilmuwan muda untuk berbagi pengetahuan dan mengasah
      mengasah kemampuan mereka dalam ilmu pengetahuan terapan.
    </p>
    <br />
    <p class="card-text col-sm-7">
      Pada tanggal 19-21 Desember 2023, ITS menjadi tuan rumah Kompetisi NASPO dan I2ASPO dalam format
      dalam format hibrida. Salah satu prestasi yang patut dicatat dalam kompetisi NASPO berasal dari
      tim SMA Negeri 1 Maos. Tim yang beranggotakan Cahaya Eli Prasetya
      Ningrum, Alan Firid Aryadi, Aprilia Aris Kristianto, Bagus Sukma
      Rakhmanto, dan Nur Fadilah, berhasil meraih medali emas. Prestasi ini berhasil
      diperoleh berkat karya mereka yang berjudul "Permainan Kartu Kuartet Aksara Jawa
      sebagai Media Pembelajaran untuk Meningkatkan Kemampuan Membaca Huruf Jawa".
    </p>
    <br />
    <p class="card-text col-sm-7">
      Tim SMA Negeri 1 Maos berhasil meraih medali emas di NASPO 2023 dengan
      penelitian terbaru mereka. Dalam upaya membantu siswa menguasai aksara Jawa
      membaca dan menulis aksara Jawa, tim ini menciptakan Kartu Beja, sebuah
      permainan kartu yang inovatif. Kartu Beja dirancang sebagai alat pembelajaran yang efektif untuk
      untuk memperkuat kemampuan membaca dan menulis aksara Jawa di kalangan siswa.
    </p>
    <br />
    <p class="card-text col-sm-7">
      Selain medali emas NASPO 2023, SMA Negeri 1 Maos juga berhasil meraih medali
      perak melalui Elyne Kusuma Mahardika, Annisa Nurus Shillah, Cika
      Ridhaputrimardani, Rofi Arif Robbani, dan Talitha Aulia Zuriah Salsabila.
      Mereka berhasil meraih medali perak dengan penelitian mereka yang berjudul "Optimizing The
      Model AquaCrop untuk Memprediksi Hasil Pertanian Menggunakan Model Agroklimat
      Caping".
    </p>
    <br />
    <p class="card-text col-sm-7">
      Tim peneliti SMA Negeri 1 Maos membuat pencapaian yang signifikan dengan
      mencoba meningkatkan akurasi aplikasi AquaCrop melalui aplikasi
      melalui penerapan Caping Agroklimat untuk memprediksi hasil pertanian. Prestasi ini tidak hanya membanggakan
      Prestasi ini tidak hanya memberikan kebanggaan bagi sekolah mereka, tetapi juga menjadi
      kontribusi yang berarti dalam pengembangan ilmu pengetahuan dan teknologi pertanian.
      teknologi pertanian.
    </p>
    <br />
    <p class="card-text col-sm-7">
      SMA Negeri 2 Cilacap Pada kompetisi internasional I2ASPO, tim SMA
      Negeri 2 Cilacap juga mencatatkan prestasi yang gemilang. Tim yang beranggotakan
      beranggotakan Nasywa Roesviana Putri, Mouzya Syalwa Khoirunnisa, Vinon Apip
      Pranata, Zahrana Nur Azizah, dan Zahro Wahyu Rohmani, berhasil meraih medali emas
      dengan penelitian mereka yang berjudul "Wacana Pembatasan Perkawinan Bagi
      ODHA di Kabupaten Cilacap".
    </p>
    <br />
    <p class="card-text col-sm-7">
      Tim dari SMA Negeri 2 Cilacap mengeksplorasi wacana pembatasan
      pernikahan bagi ODHA di Kabupaten Cilacap. Melalui diskusi yang panjang, akhirnya diputuskan
      akhirnya diputuskan bahwa wacana tersebut tidak akan direalisasikan. Keputusan ini
      Keputusan ini didasari oleh pemahaman bahwa ODHA adalah manusia biasa, dan penularan HIV
      penularan HIV kepada pasangan dan anak-anaknya dapat dicegah melalui
      melalui intervensi medis yang tepat.
    </p>
    <br />
    <p class="card-text col-sm-7">
      Ibu Masripah, M.M.Pd, Kepala SMA Negeri 2 Cilacap, mengungkapkan kegembiraannya atas
      atas prestasi gemilang anak didiknya di kancah internasional.
      "Alhamdulillah... keren, prestasi yang membanggakan. Mudah-mudahan bisa menjadi inspirasi bagi siswa
      siswa-siswi lainnya," ujarnya bangga. Ia berharap, prestasi yang diraih di NASPO
      dan I2ASPO dapat memotivasi mahasiswa untuk terus berprestasi.
    </p>
    <p class="card-text col-sm-7 mt-5">
      <a
        target="_blank"
        href=": https://humas.cilacapkab.go.id/sman-1-maos-dan-sman-2-cilacap-ukir-prestasi/"
        class="text-muted col-sm-12"
      >
      Sumber: Klik di sini
      </a>
    </p>
  </div>
</div>
<app-footer-two></app-footer-two>
