<app-header-two></app-header-two>
<app-breadcrumb></app-breadcrumb>
<div class="card mb-3 mt-5 mb-5">
  <img
    src="assets/img/app/news6.jpg"
    class="card-img-top col-sm-3 mt-2"
    alt="..."
  />
  <div class="card-body">
    <h3 class="card-title col-sm-7">
      Dua Siswa Kembar Asal Katingan Juarai Kompetisi Internasional
    </h3>
    <p class="card-text col-sm-7">
      Teriknya matahari tidak menyurutkan langkah saudara kembar Raynando Kurniawan dan Kristian
      Reynaldy untuk mematahkan arang demi mengejar mimpi mereka. Kedua putra asal Kabupaten Katingan, Kalimantan Tengah, Raynando Kurniawan dan Kristian Reynaldy.
      Putra asal Kabupaten Katingan, Raynando Kurniawan dan Kristian Reynaldy, yang merantau ke
      Surabaya, Jawa Timur, berhasil mengharumkan nama Penyang Hinje Simpei.
    </p>
    <br />
    <p class="card-text col-sm-7">
      Kedua siswa kelas XI IPA 1 SMA Negeri 1 Kasongan ini berhasil meraih
      atau juara kedua. Mereka meraih penghargaan khusus dari Malaysia sebagai
      penelitian terbaik dalam kompetisi penelitian National Applied Science Project Olympiad (NASPO) 2022.
      kompetisi penelitian tingkat nasional.
    </p>
    <br />
    <p class="card-text col-sm-7">
      "Kegiatan ini diselenggarakan pada tanggal 14-17 Desember 2022 di Surabaya dan
      diselenggarakan oleh Indonesian Young Scientist Association (IYSA) bekerja
      bekerja sama dengan Departemen Aktuaria Institut Teknologi Sepuluh Nopember
      Institut Teknologi Sepuluh Nopember, Surabaya," kata Reynaldi, Senin (19/12/2022).
    </p>
    <br />
    <p class="card-text col-sm-7">
      Penelitian Raynando Kurniawan dan Kristian Reynaldy yang berjudul "Legenda
      Inovasi" mengangkat cerita tanah Dayak sebagai sebuah pelestarian daerah.
      Penelitian ini bertujuan agar cerita rakyat atau legenda di tanah Dayak tidak
      punah dengan adanya penelitian ini agar generasi muda di
      Indonesia mengetahui cerita rakyat atau legenda yang ada di Indonesia.
    </p>
    <br />
    <p class="card-text col-sm-7">
      "Penelitian ini dapat mendorong minat literasi di kalangan masyarakat luas,"
      kata Kristian. Pria berkacamata ini mengatakan bahwa rasa gugup sempat menghantui
      dan saudara kembarnya saat berkompetisi di ISYA. "Perasaan berdebar-debar dan jantung berdegup kencang itu tidak bisa dihindari.
      detak jantung yang cepat tidak bisa dihindari, namun bisa diatasi dengan percaya diri dan tidak
      minder atau malu dengan negara lain," katanya.
    </p>
    <br />
    <p class="card-text col-sm-7">
      NASPO dan I2ASPO merupakan kegiatan tahunan yang diadakan oleh ISYA setiap akhir tahun.
      Selain itu, kegiatan ini dihadiri oleh 17 negara di Asia dan Eropa.
    </p>
    <p class="card-text col-sm-7 mt-5">
      <a
        target="_blank"
        href=" https://kaltengtoday.com/dua-siswa-kembar-asal-katingan-menangkan-kompetisi-internasional/"
        class="text-muted col-sm-12"
      >
      Sumber: Klik di sini
      </a>
    </p>
  </div>
</div>
<app-footer-two></app-footer-two>
