<app-header-two></app-header-two>
<app-breadcrumb></app-breadcrumb>
<div class="card mb-3 mt-5 mb-5">
  <img
    src="assets/img/app/news5.jpg"
    class="card-img-top col-sm-3 mt-2"
    alt="..."
  />
  <div class="card-body">
    <h3 class="card-title col-sm-7">
      MTs Negeri 2 Probolinggo Raih Lima Medali di Tingkat Nasional dan Internasional
      Acara
    </h3>
    <p class="card-text col-sm-7">
      MTs Negeri 2 Probolinggo berhasil meraih 5 medali di ajang internasional dan
      nasional pada tahun 2021. Yakni pada ajang International Invention Competetion
      for Young Moslem Scientist (IICYMS) 2021, National Applied Science
      Olymphiad (NASPO), dan Indonesia International Applied Science Olymphiad
      (I2ASPO). Pada acara IICYMS 2021 yang diselenggarakan di UIN Sunan Gunung
      Djati Bandung, 2 Juli 2021, MTsN 2 Probolinggo berhasil meraih 3 medali. Yaitu,
      medali emas, penghargaan khusus Indonesian Young Scientst Associatin (IYSA),
      dan medali perunggu.
    </p>
    <br />
    <p class="card-text col-sm-7">
      Dalam acara yang diselenggarakan oleh IYSA bekerja sama dengan UIN Sunan Gunung
      Djati Bandung, Persatuan Akademisi Arab, dan Panitia Pelaksana IICYMS,
      MTsN 2 Probolinggo mengirimkan 9 siswa yang terbagi dalam 2 tim. Tim 1 terdiri dari
      terdiri dari Riska Anggun Maulani, Laila Nurrahmasari, Diva Tri Wahyuningsih, dan
      Muhammad Rayhan Sya'bana yang duduk di kelas 9. Selain itu, Dani Khairulllah
      Geovani Pratama yang duduk di kelas 8.
    </p>
    <br />
    <p class="card-text col-sm-7">
      Tim 1 dengan judul penelitian "Uji Aktivitas Antidiabetes Air Rebusan
      Rebung Bambu Kuning (Bambusa Vulgaris) Dan Ashoka Folwer (Ixora Coccinea)
      Pada Tikus Putih Dengan Toleransi Glukosa" mendapatkan Medali Emas pada Kategori
      Kategori Sains Biologi. Serta mendapatkan tambahan penghargaan IYSA Special
      Award. Sedangkan tim 2 yang beranggotakan Amira Najihah Fadri Putri, Shafrina Olivia
      Cikitawati, Katon Ahmad Maulana, dan Dhonand Dhimas Aryono. Mereka sama-sama duduk di kelas 8.
      sama-sama duduk di bangku kelas 8. Judul penelitian tim 2 adalah "Candent: Permen Jelly Anti Karies Gigi".
      Permen Jelly", berhasil meraih medali perunggu dalam kategori Life Science.
    </p>
    <br />
    <p class="card-text col-sm-7">
      Secara keseluruhan, kompetisi ini diikuti oleh 155 tim dari 13 negara.
      Diantaranya adalah Indonesia, Yaman, Mesir, Maroko, Turki, Irak, Qatar,
      Khazakstan, India, Makedonia, Palestina, Azerbaijan, dan Pakistan. Tahapan
      Tahapan kompetisi ini meliputi pengiriman jurnal penelitian,
      video penelitian dalam bahasa Inggris, presentasi, tanya jawab, dan
      penjurian.
    </p>
    <br />
    <p class="card-text col-sm-7">
      Yenny Rahma, koordinator Tim Guru Pembimbing Penelitian, mengatakan bahwa
      persiapan yang dilakukan oleh pihak sekolah sudah sangat optimal. "Terlebih lagi mendapat
      mendapat dukungan penuh dari orang tua. Hal ini memberikan kontribusi dan peran yang besar dalam
      besar dalam hal mendorong semangat untuk meraih prestasi para siswa," jelasnya.
      jelasnya.
    </p>
    <br />
    <p class="card-text col-sm-7">
      Wanita berhijab ini menambahkan bahwa tanpa semangat yang kuat dari para
      anak-anak serta dorongan dari orang tua dan guru, tidak mungkin prestasi ini
      mustahil prestasi ini bisa diraih. Mereka dibimbing dengan baik oleh
      guru pembimbing penelitian. Yakni, Sri Sunarti, Sutriningsih, Okky Buyung
      Firmanyah, Rhici Sulistyowati, Purwani, dan Rizka
    </p>
    <br />
    <p class="card-text col-sm-7">
      MTs Negeri 2 Probolinggo yang beralamat di Jalan Raya Karanggeger 418
      Pajarakan, Kabupaten Probolinggo, memiliki program unggulan di bidang
      penelitian. Sesuai dengan Keputusan Direktur Jenderal Pendidikan Islam
      Pendidikan Islam Nomor 6.757 Tahun 2020 tentang Penetapan Penelitian
      Penyelenggaraan Madrasah.
    </p>
    <br />
    <p class="card-text col-sm-7">
      Diketahui bahwa terdapat 296 lembaga MTsN di seluruh Indonesia yang
      yang memiliki legitimasi sebagai madrasah penyelenggara penelitian. Salah satunya adalah MTsN 2
      Probolinggo yang telah mengembangkan program tersebut. Baik untuk siswa maupun untuk
      guru. Pembinaan yang telah dilakukan selama 5 bulan ini membuahkan hasil.
      membuahkan hasil. Sementara di tingkat nasional, MTsN 2 Probolinggo diganjar dua medali sekaligus di ajang
      medali sekaligus di ajang Ilmiah NASPO dan I2ASPO. Ajang tersebut
      diikuti oleh 410 tim dari seluruh Indonesia, serta 13 negara lainnya.
      lainnya dari 13 negara. Dalam kompetisi ini, mereka berhasil meraih perak dan perunggu dengan
      dengan peserta yang terdiri dari gabungan dua jenjang, yaitu SMP/MTs dan
      SMA/MA.
    </p>
    <br />
    <p class="card-text col-sm-7">
      "Alhamdulillah, kami berhasil meraih prestasi internasional dan nasional di bidang
      nasional di bidang penelitian. Prestasi ini sangat membanggakan dan menjadi bukti
      kemajuan madrasah," ujar Kepala MTsN 2 Probolinggo Mudakkir. Acara
      Acara ini diselenggarakan oleh IYSA dan Departemen Sains Aktuaria Institut Teknologi
      Institut Teknologi Sepuluh Nopember (ITS) Surabaya yang diselenggarakan secara daring dan
      secara daring dan luring, pada 11-14 Desember 2021 di Surabaya. MTsN 2 Probolinggo mengirimkan 2
      tim dalam kategori Kewirausahaan dan Pangan Fungsional.
    </p>
    <br />
    <p class="card-text col-sm-7">
      Kategori Makanan Fungsional memenangkan medali perak dengan judul penelitian
      "Bellyden: Pemanfaatan Belimbing Wuluh sebagai Permen Gigi Anti Karies".
      Tim 1 diketuai oleh Nur Mufidah siswa kelas 7 dengan anggota Muhammad
      Naufal, Dhafa Arabilah Irfan, Aulia Cheryl Putri Zahira, dan Zahrotus
      Syita Wahyuni Hidayati. Sementara itu, kategori Kewirausahaan berhasil meraih medali
      medali perunggu dengan judul "Lemoje: Jamoe Serai Modern sebagai
      Bisnis Alternatif dan Penambah Daya Tahan Tubuh dalam PPKM Massal". Tim 2 adalah
      diketuai oleh Lutfiyatun Nikmah, siswa kelas 9, dengan anggota Dina Amelia,
      Zakiah Sadiida, Robiatul Adawiah, dan Muhammad Hilmi. (*/hla/sp)
    </p>
    <p class="card-text col-sm-7 mt-5">
      <a
        target="_blank"
        href="https://tadatodays.com/detail/mts-negeri-2-probolinggo-diganjar-lima-medali-di-event-nasional-dan-internasional"
        class="text-muted col-sm-12"
      >
      Sumber: Klik di sini
      </a>
    </p>
  </div>
</div>
<app-footer-two></app-footer-two>
