<app-header-four></app-header-four>
<app-breadcrumb></app-breadcrumb>
<div class="card mb-3 mt-5 mb-5">
  <img
    src="assets/img/app/news3.jpg"
    class="card-img-top col-sm-3 mt-2"
    alt="..."
  />
  <div class="card-body">
    <h3 class="card-title col-sm-7">
      SMAN 1 Maos and SMAN 2 Cilacap Make Achievements
    </h3>
    <p class="card-text col-sm-7">
      Institut Teknologi Sepuluh Nopember (ITS) in collaboration with the
      Indonesian Young Scientist Association (IYSA) has successfully organized
      two prestigious competitions. First, the National Applied Science Olympiad
      (NASPO), a national level competition attended by 232 teams of students
      and students from all over Indonesia. In addition, ITS also hosted an
      international level competition, the Indonesia International Applied
      Science Olympiad (I2ASPO), which was attended by 300 teams of students
      from various countries. Participants came from Indonesia itself, as well
      as countries such as Turkey, Thailand, Vietnam, Puerto Rico, the
      Philippines, the United Arab Emirates, Kazakhstan, Romania, Singapore,
      Iran, Malaysia and Hong Kong. The successful organization of these two
      competitions represents a remarkable achievement in creating a competitive
      platform for young scientists to share their knowledge and hone their
      skills in applied sciences.
    </p>
    <br />
    <p class="card-text col-sm-7">
      On December 19-21, 2023, ITS hosted the NASPO and I2ASPO Competitions in a
      hybrid format. One notable achievement in the NASPO competition came from
      the SMA Negeri 1 Maos team. The team, consisting of Cahaya Eli Prasetya
      Ningrum, Alan Firid Aryadi, Aprilia Aris Kristianto, Bagus Sukma
      Rakhmanto, and Nur Fadilah, won a gold medal. This achievement was
      obtained thanks to their work entitled "Javanese Alphabet Quartet Card
      Game as a Learning Media to Improve the Ability to Read Javanese Letters".
    </p>
    <br />
    <p class="card-text col-sm-7">
      The SMA Negeri 1 Maos team won the gold medal in NASPO 2023 with their
      latest research. In an effort to help students master Javanese script
      reading and writing, the team created Kartu Beja, an innovative quartet
      card game. Kartu Beja is designed as an effective learning tool to
      strengthen Javanese reading and writing skills among students.
    </p>
    <br />
    <p class="card-text col-sm-7">
      In addition to the NASPO 2023 gold medal, SMA Negeri 1 Maos also won a
      silver medal through Elyne Kusuma Mahardika, Annisa Nurus Shillah, Cika
      Ridhaputrimardani, Rofi Arif Robbani, and Talitha Aulia Zuriah Salsabila.
      They won the silver medal with their research entitled "Optimizing The
      AquaCrop Model for Predicting Agricultural Yields Using Agroclimatic
      Caping."
    </p>
    <br />
    <p class="card-text col-sm-7">
      The research team of SMA Negeri 1 Maos made a significant achievement by
      trying to improve the accuracy of the AquaCrop application through the
      application of Agroclimate Caping to predict agricultural yields. This
      achievement not only gives pride to their school but also becomes a
      meaningful contribution in the development of agricultural science and
      technology.
    </p>
    <br />
    <p class="card-text col-sm-7">
      SMA Negeri 2 Cilacap At the I2ASPO international competition, the SMA
      Negeri 2 Cilacap team also recorded brilliant achievements. The team
      members, Nasywa Roesviana Putri, Mouzya Syalwa Khoirunnisa, Vinon Apip
      Pranata, Zahrana Nur Azizah, and Zahro Wahyu Rohmani, won a gold medal
      with their research entitled "The Discourse on Restricting Marriage for
      PLHIV in Cilacap Regency".
    </p>
    <br />
    <p class="card-text col-sm-7">
      The team from SMA Negeri 2 Cilacap explored the discourse on restricting
      marriage for PLHIV in Cilacap Regency. Through a long discussion, it was
      finally decided that the discourse would not be realized. This decision
      was based on the understanding that PLWHA are human beings, and HIV
      transmission to their spouses and children can be prevented through
      appropriate medical intervention.
    </p>
    <br />
    <p class="card-text col-sm-7">
      Dra. Masripah, M.M.Pd, Head of SMA Negeri 2 Cilacap, expressed her joy at
      the brilliant achievements of her students in the international arena.
      "Alhamdulillah... cool, a proud achievement. Hopefully it can inspire
      other students," she said proudly. He hopes that the achievements in NASPO
      and I2ASPO can motivate students to continue to excel.
    </p>
    <p class="card-text col-sm-7 mt-5">
      <a
        target="_blank"
        href=": https://humas.cilacapkab.go.id/sman-1-maos-dan-sman-2-cilacap-ukir-prestasi/"
        class="text-muted col-sm-12"
      >
        Source: Click Here
      </a>
    </p>
  </div>
</div>
<app-footer-four></app-footer-four>
