<app-header-four></app-header-four>
<app-breadcrumb></app-breadcrumb>
<div class="card mb-3 mt-5 mb-5">
  <img
    src="assets/img/app/news4.jpg"
    class="card-img-top col-sm-3 mt-2"
    alt="..."
  />
  <div class="card-body">
    <h3 class="card-title col-sm-7">
      AAL Cadets Win Gold and Bronze Medals in I2ASPO and NASPO Events
    </h3>
    <p class="card-text col-sm-7">
      At the end of 2021, Naval Academy (AAL) cadets made history by winning
      Gold and Bronze Medals at the Indonesia International Applied Science
      Project Olympiad (I2ASPO) and National Applied Science Project Olympiad
      (NASPO) Scientific Writing Competition (LKTI) held by the Indonesia Young
      Scientist Association (IYSA) in collaboration with the Actuarial
      Department of the Sepuluh Nopember Institute of Technology (ITS) Surabaya.
    </p>
    <br />
    <p class="card-text col-sm-7">
      This was said by the Head of the Department of Science and Technology
      (Kadepiptek) AAL, Marine Colonel (KH) Said Masykur, representing the
      Governor of AAL, Maj. Gen. TNI (Mar) Nur Alamsyah at the Galasa Building,
      Depiptek, AAL Bumimoro Satrian Building, Surabaya, Wednesday (15/12/2021).
    </p>
    <br />
    <p class="card-text col-sm-7">
      According to Kadepiptek, this LKTI competition activity was carried out
      offline and online from mid-November 2021 until the judging session which
      was held on December 12, 2021. AAL continued, sending two teams to this
      event. The I2ASPO AAL team consists of Sermadatar (P) Alfan Prasurya
      Adhipatiyan, Sermadatar (T) Regel Satria Mardika, Sermadatar (E) Gilang
      Pratama Bahari, Sermadatar (S) Daffa Agusta, and Sermadatar (M) Ryan
      Ardimas.
    </p>
    <br />
    <p class="card-text col-sm-7">
      Meanwhile, the NASPO Team was filled with Sermadatar (P) Resa Ridwan
      Pindriansyah, Sermadatar (T) M. Hafish Zaki Pratama, Sermadatar (E) Indana
      Zulfa, Sermadatar (S) Zenita Sanadila, and Sermadatar (M) I Made Indrayana
      Wibaya. These two teams were accompanied by AAL Cadet as Supervisor,
      Lieutenant Colonel (KH/W) Mostien Adi Puji as coordinator with four
      supervisors, namely, Lieutenant Colonel (T) Adiyus Kurnia Zain, Marine
      Major (T) Sonnie Rakhmawan, PNS Evi Martiningsih, and PNS Risa Apriani.
    </p>
    <br />
    <p class="card-text col-sm-7">
      Since the pandemic is not over, the AAL Team participated in the I2ASPO
      and NASPO competitions online by sending an LKTI script entitled "IAF
      (Incenerator Air Filter) as a Standardization of Smoke Waste Control on
      Ships To Preserve The Environment" or "IAF (Incenerator Air Filter) As a
      Standardization of Smoke Waste Control On Ships To Preserve The
      Environment".
    </p>
    <br />
    <p class="card-text col-sm-7">
      "Alhamdulillah, I2ASPO received three awards at once, namely, the Gold
      Medal for the Weste Treatment Category at the University Level, then Free
      registration to BUCA IMSEF Turkey 2022 (Online) and the IYSA Reward award
      in the form of coaching funds as the best team," concluded Said. (HJR)
    </p>
    <p class="card-text col-sm-7 mt-5">
      <a
        target="_blank"
        href="https://kominfo.jatimprov.go.id/read/umum/-taruna-aal-raih-medali-emas-dan-perunggu-ajang-i2aspo-dan-naspo"
        class="text-muted col-sm-12"
      >
        Source: Click Here
      </a>
    </p>
  </div>
</div>
<app-footer-four></app-footer-four>
