<app-header-two></app-header-two>
<app-breadcrumb></app-breadcrumb>
<h1 class="text-center">Berita</h1>
<div class="row mb-5">
  <div class="col-sm-4 mt-5">
    <div class="card">
      <div class="card-body">
        <img src="assets/img/app/news1.png" />
        <h5 class="card-title mt-3">
          MEDALI UNTUK KABUPATEN CILACAP DARI NASPO DAN I2ASPO
        </h5>
        <p class="card-text">
          Sri Widyastuti, S.Pd, guru dan pembimbing SMA MUH 1 Bantul mengatakan
          bahwa dalam ajang ini mereka mengirimkan 2 tim, yaitu Tim 1
          (Internasional) yang beranggotakan 4 siswa: Vonny Rizanti Syairtha
          (Ketua), Aisyah Naila Basuki, Anindya Putri Salsabila, Shafa Salsabila
          dan tim 2 yang beranggotakan 5 siswa mahasiswa yaitu; Tim 2 (Nasional)
          Madinah Raudiah, (Leader), Alfara Azeta Hyadi, Alya Adz Dzikra Surya
          K. N, Alifah Nur Fatimah, dan Djenar Kinanti Cikal Rinakit....
        </p>
        <a href="/news7" class="btn btn-primary mt-3"> Lihat </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-5">
    <div class="card">
      <div class="card-body">
        <img src="assets/img/app/news2.jpg" />
        <h5 class="card-title mt-3">
          SMA Muhammadiyah 1 Bantul raih juara NASPO dan I²ASPO ITS
        </h5>
        <p class="card-text">
          Kompetisi NASPO dan I2ASPO diselenggarakan secara hybrid di Institut
          Teknologi Sepuluh Institut Teknologi Sepuluh Nopember (ITS) pada
          tanggal 19-21 Desember 2023. Dalam kompetisi Pada kompetisi NASPO, tim
          SMA Negeri 1 Maos yang terdiri dari Cahaya Eli Prasetya Ningrum, Alan
          Firid Aryadi, Aprilia Aris Kristianto, Bagus Sukma Rakhmanto, dan Nur
          Fadilah berhasil meraih Medali Emas dengan karya "Permainan Kartu
          Kuartet Aksara Jawa sebagai Media Pembelajaran untuk Meningkatkan
          Kemampuan Membaca Huruf Jawa"....
        </p>
        <a href="/news8" class="btn btn-primary mt-3"> Lihat </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-5">
    <div class="card">
      <div class="card-body">
        <img src="assets/img/app/news3.jpg" />
        <h5 class="card-title mt-3">
          SMAN 1 Maos dan SMAN 2 Cilacap Torehkan Prestasi
        </h5>
        <p class="card-text">
          Tim dari SMA Negeri 2 Cilacap mengeksplorasi wacana pembatasan
          pernikahan bagi ODHA di Kabupaten Cilacap. Melalui diskusi yang
          panjang, akhirnya diputuskan panjang, akhirnya diputuskan bahwa wacana
          tersebut tidak akan direalisasikan. direalisasikan. Keputusan ini
          didasari oleh pemahaman bahwa ODHA adalah manusia, dan penularan HIV
          kepada pasangan dan anak dapat dicegah melalui intervensi medis yang
          tepat. dapat dicegah melalui intervensi medis yang tepat...
        </p>
        <a href="/news9" class="btn btn-primary mt-3"> Lihat </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-5">
    <div class="card">
      <div class="card-body">
        <img src="assets/img/app/news4.jpg" />
        <h5 class="card-title mt-3">
          Taruna AAL Raih Medali Emas dan Perunggu di Ajang I2ASPO dan NASPO
        </h5>
        <p class="card-text">
          Di penghujung tahun 2021, Taruna Akademi Angkatan Laut (AAL) mengukir
          sejarah dengan meraih Medali Emas dan Perunggu pada ajang Indonesia
          International Applied Science Project Olympiad (I2ASPO) dan National
          Applied Science Project Olympiad (NASPO) dan Lomba Karya Tulis Ilmiah
          (LKTI) yang diselenggarakan oleh Indonesia Young Scientist Association
          (IYSA) bekerja sama dengan Departemen Aktuaria Institut Teknologi
          Sepuluh Nopember (ITS) Surabaya...
        </p>
        <a href="/news10" class="btn btn-primary mt-3"> Lihat </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-5">
    <div class="card">
      <div class="card-body">
        <img class="cil" src="assets/img/app/news5.jpg" />
        <h5 class="card-title mt-3">
          MTs Negeri 2 Probolinggo Raih Lima Medali di Ajang Nasional dan Acara
          Nasional dan Internasional
        </h5>
        <p class="card-text">
          MTs Negeri 2 Probolinggo berhasil meraih 5 medali di ajang
          internasional internasional dan nasional pada tahun 2021. Yaitu pada
          ajang International Invention Invention Competition for Young Moslem
          Scientist (IICYMS) 2021, National Applied Science Olymphiad (NASPO),
          dan Indonesia International Applied Science Sedangkan tim 2 terdiri
          dari Amira Najihah Fadri Putri, Shafrina Olivia Cikitawati, Katon
          Ahmad Maulana, dan Dhonand Dhimas Aryono. Mereka sama-sama duduk di
          kelas 8. Judul penelitian tim 2 adalah "Candent: Permen Jelly Anti
          Karies Gigi", berhasil meraih medali perunggu dalam kategori Kategori
          Ilmu Pengetahuan Hayati...
        </p>
        <a href="/news11" class="btn btn-primary mt-3"> Lihat </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 mt-5">
    <div class="card">
      <div class="card-body">
        <img src="assets/img/app/news6.jpg" />
        <h5 class="card-title mt-3">
          Dua Siswa Kembar Asal Katingan Juarai Kompetisi Internasional
        </h5>
        <p class="card-text">
          Teriknya matahari tidak menyurutkan langkah saudara kembar Raynando
          Kurniawan dan Kristian Reynaldy untuk mematahkan semangat dalam
          mengejar mimpi mereka. Dua putra asal Kabupaten Katingan, Kalimantan
          Tengah, Raynando Kurniawan dan Kristian Realaldy. putra asal Kabupaten
          Katingan, Raynando Kurniawan dan Kristian Reynaldy, yang merantau ke
          Surabaya, Jawa Timur, berhasil mengharumkan nama Penyang Hinje Simpei
          bangga. Kedua siswa kelas XI IPA 1 SMA Negeri 1 Kasongan ini berhasil
          meraih medali perak atau juara kedua. Selain itu, mereka juga meraih
          penghargaan khusus dari Malaysia sebagai penelitian terbaik dalam
          ajang National Applied National Applied Science Project Olympiad
          (NASPO) 2022. ...
        </p>
        <a href="/news12" class="btn btn-primary mt-3"> Lihat </a>
      </div>
    </div>
  </div>
</div>
<app-footer-two></app-footer-two>
